#second-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 303px;
    padding: 2vh 2vw;
    margin: 10vh 0;
    overflow-y: scroll;
}

#second-container::-webkit-scrollbar{
    width: 10px;
}

#second-container::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #EAEAEA;
}

#second-container::-webkit-scrollbar-thumb{
    background-color: #6600cc;
    border-radius: 10px;
}

.title-container{
    text-align: center;
    border-bottom: 1px solid;
}

.spents-container{
    width: 100%;
    user-select: none;
}

.spents-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vh 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #EAEAEA;
}

.spent{
    width: 500px;
    display: flex;
    justify-content: center;
}

.spent > span > p{
    text-align: center;
}

.spent-value{
    color: #FF6C6C;
    font-weight: 600;
}

.gain-value{
    color: #1ABD68;
    font-weight: 600;
}

.spents-header{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.spents-header i {
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}
.spents-header span{
    margin: 0 5px;
}