.header {
  background-color: #6600cc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}

.taurus-logo {
  display: flex;
  justify-content: center;
}

.taurus-logo img {
  cursor: pointer;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.nav-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.nav-item:hover,
.nav-item a:hover {
  background-color: #8257e5;
  transition: 0.5s;
}

.header-icons i {
  color: #ffffff;
  font-size: 25px;
  margin: 0px 15px;
  cursor: pointer;
}

.header-icons {
  position: relative;
  display: inline-block;
}

.header-icons ul li:hover a{
  color: #6600cc;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

.header-icons:hover .dropdown-content {
  display: block;
}
