#content{
    margin: 5vh 10vw;
}

#first-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 213px;
    padding: 2vh;
    display: flex;
}

.user-balence{
    width: 50%;
    height: 100%;
}

.balance-controls{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.balance-controls > i{
    font-size: 50px;
    cursor: pointer;
}

.balance-controls > i:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: ease-in 0.3s;
}

#user-balance-header{
    display: flex;
    justify-content: space-around;
}

.user-balance-identify > span, .user-general-balance > span{
    display: block;
}

.balance-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #948B8B;
}

#user-name, #balance{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

#money-balance{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #948B8B;
}

#user-balance-footer{
    display: flex;
    justify-content: space-between;
    margin: 1vh 2vw;
}

.user-balance-box{
    width: 200px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#monthly-revenue-balance, #monthly-expense-balance{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

#monthly-revenue-balance{
    color: #1ABD68;
}

#monthly-expense-balance{
    color: #FF6C6C;
}

#reports{
    cursor: pointer;
}

#reports > span > span, span > i{
    font-size: 20px;
}

#plus-button{
    color: #1ABD68;
}

#minus-button{
    color: #FF6C6C;
}

#swap-button{
    color: #49afd8;
}

/* MY ACCOUNTS */


#second-container{
    margin: 3vh 0;
    user-select: none;
}

.my-accounts{
    background-color: #FFFFFF;
    width: 500px;
    padding: 3vh;
    border-radius: 10px;
}

.title-container{
    font-weight: 500;
    font-size: 25px;
    border-bottom: 0.7px solid;
    text-align: center;
}

.account-user{
    background-color:#EAEAEA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vh 0;
    padding: 10px;
}

.account-user > span {
    text-align: center;
}

#account-name{
    display: block;
    font-size: 20px;
}

.bank-image-account{
    border-radius: 50%;
    width: 65px;
}

/* CREDIT CARDS */

.credit-cards{
    background-color: #FFFFFF;
    width: 500px;
    padding: 3vh;
    border-radius: 10px;
    margin: 3vh 0;
}

.credit-card-user{
    background-color:#EAEAEA;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: column;
}

.credit-card-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.credit-card-header > span > span {
    display: block;
}